[Desktop Entry]
Type=Application
Name=Install GlouOS
GenericName=System Installer
Comment=Install GlouOS to your computer
Exec=pkexec calamares -d
Icon=/etc/calamares/branding/glouos/logo.svg
Terminal=false
Categories=System;
Keywords=install;installer;setup;calamares;glouos;
