UI menu.c32
MENU TITLE GlouOS
MENU CLEAR

# Plain black background (no grey vesamenu gradient), clean light-on-black menu.
MENU COLOR screen    37;40   #ffffffff #00000000 none
MENU COLOR border    30;40   #00000000 #00000000 none
MENU COLOR title     1;37;40 #ffffffff #00000000 none
MENU COLOR sel       7;37;40 #ff000000 #ffcccccc all
MENU COLOR unsel     37;40   #ffffffff #00000000 none
MENU COLOR help      37;40   #ff888888 #00000000 none
MENU COLOR timeout_msg 37;40 #ff888888 #00000000 none
MENU COLOR timeout   1;37;40 #ffffffff #00000000 none
MENU COLOR tabmsg    37;40   #ff888888 #00000000 none

TIMEOUT 100
DEFAULT glouos

LABEL glouos
    MENU LABEL GlouOS (x86_64, BIOS)
    LINUX /%INSTALL_DIR%/boot/x86_64/vmlinuz-linux-zen
    INITRD /%INSTALL_DIR%/boot/intel-ucode.img,/%INSTALL_DIR%/boot/amd-ucode.img,/%INSTALL_DIR%/boot/x86_64/initramfs-linux-zen.img
    APPEND archisobasedir=%INSTALL_DIR% archisolabel=%ARCHISO_LABEL% cow_spacesize=4G quiet splash loglevel=0 vt.global_cursor_default=0

LABEL glouos-safe
    MENU LABEL GlouOS - Safe graphics (nomodeset)
    LINUX /%INSTALL_DIR%/boot/x86_64/vmlinuz-linux-zen
    INITRD /%INSTALL_DIR%/boot/intel-ucode.img,/%INSTALL_DIR%/boot/amd-ucode.img,/%INSTALL_DIR%/boot/x86_64/initramfs-linux-zen.img
    APPEND archisobasedir=%INSTALL_DIR% archisolabel=%ARCHISO_LABEL% nomodeset
